@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

// colors

$white: rgb(255, 255, 255);
$black: #00000099;
$blue: rgb(0, 22, 144);


* {
  box-sizing: border-box;
}

body {
  background-color: $blue;
  color: $white;
  font-family: 'Smooch Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;


  .counter-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin:30px 50px ;
    text-align: center;


    .counter{
      font-size:60px ;
      margin-top: 10px ;
    }
  }

}


@media (max-width: 580px ){
  body{
    flex-direction: column;
  }
}
